* {
  margin: 0;
  padding: 0;
  font-family: "yeakn-bakh";
  font-weight: 100;
}
@font-face {
  font-family: "Vazir";
  src: url("../WeatherApp/font/Vazir.ttf");
}
@font-face {
  font-family: "maneli";
  src: url("../WeatherApp/font/MANELI.TTF");
}
@font-face {
  font-family: "yeakn-bakh";
  src: url("./font/YekanBakh.woff");
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.116);
  background: #f5f5f52d;
  backdrop-filter: blur(7px);
  padding: 13px;
  margin-bottom: 35px;
}
nav .top button {
  margin-left: 20px;
}
nav .user {
  width: 50px;
  height: 50px;
  outline: none;
  border-radius: 12px;
  background: linear-gradient(to bottom, #8bcfff, #129cff);
  border: none;
  cursor: pointer;
  position: relative;
}
.user i {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 6px 12px #063f68;
}
.menu-phone {
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 45%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 10px 0 10px rgba(81, 81, 81, 0.178);
  padding: 20px;
  font-size: 120%;
  transition: 0.4s;
  position: fixed;
}
.menu-phone li {
  padding: 10px;
}
.menu-desktop {
  position: absolute;
  width: 200px;
  background-image: linear-gradient(to top, #3345e3, #7386fe);
  box-shadow: 0 0 15px #00000059;
  border-radius: 15px;
  visibility: hidden;
  top: 60px;
  opacity: 0;
  transition: all 0.15s cubic-bezier(0.39, 0.58, 0.57, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 0%;
  padding: 10px;
  direction: rtl;
  z-index: 10;
}
.menu-desktop li {
  width: 80%;
  list-style: none;
  padding: 10px;
}

.menu-desktop li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 19px;
}
.user:focus .menu-desktop {
  visibility: visible;
  opacity: 1;
}
/* search item */
.searchBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}
.searchBox input {
  width: 4rem;
  padding: 0.5em 1em;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.644);
  font-size: 120%;
  color: rgba(12, 12, 12, 0.637);
  outline: none;
  font-weight: 100;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 30px;
}
.searchBox input:focus {
  width: 25rem;
  cursor: text;
}

.searchBox input::placeholder {
  color: #fff;
}
.searchBox button {
  padding: 0.5em 1em;
  border-radius: 12px;
  background-image: linear-gradient(to top, #3345e3, #7386fe);
  color: white;
  border: none;
  font-size: 120%;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in;
  text-shadow: 0 7px 10px #040a41;
  transition: 0.2s;
}
.searchBox button:active {
  transform: scale(0.9);
}
@media screen and (max-width: 950px) {
  .searchBox {
    width: 70%;
  }
  .searchBox input:focus {
    width: 70%;
    cursor: text;
  }
  .searchBox input,
  .searchBox button {
    font-size: 75%;
    margin: 4px;
    border-radius: 7px;
  }
  nav .user {
    width: 30px;
    height: 30px;
  }
  nav .user i {
    font-size: 1rem;
  }
  .user:focus .menu-desktop {
    visibility: hidden;
  }
  .user:focus .menu-phone {
    visibility: visible;
    opacity: 1;
  }
}

/* Cards box */

.card--list {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.toggle-down {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}
.toggle-down a,
.toggle-up a {
  text-decoration: none;
}
.toggle-up {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 950px) {
  .toggle-up {
    display: none;
  }
  .toggle-down {
    display: none;
  }
}

.card {
  width: 21rem;
  height: 30rem;
  padding: 5px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  direction: rtl;
  border-radius: 40px;
  background: #00000017;
  backdrop-filter: blur(7px);
  z-index: 100;
  transition: 150ms;
}
.card:nth-child(2) {
  flex-direction: row;
}
.card:nth-child(3) {
  backdrop-filter: none;
  background: transparent;
  justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .card:nth-child(2) {
    display: none;
  }
  .card:nth-child(3) {
    display: none;
  }
  .week {
    width: 100%;
  }
}

.row {
  width: 100%;
  height: calc(70% / 3);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  backdrop-filter: blur(7px);
  background: #00000017;
  border-radius: 40px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.226);
}

.weather_name--temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}
.location span {
  font-size: 200%;
  font-weight: 100;
  color: white;
}
.location i {
  font-size: 180%;
  font-weight: 100;
  color: rgb(255, 255, 255);
}
.temp {
  direction: ltr;
  font-size: 200%;
  font-weight: 100;
  color: white;
}
.card .icon {
  filter: drop-shadow(11px 14px 7px #00000028);
  margin: 0 auto;
  width: 150px;
}
.card .details {
  display: flex;
  padding: 0.5rem 1.5rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  background-image: linear-gradient(to top, #e03732, #fa4b45);
  margin: 10px 0;
}

.card .thermometer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 10%;
  height: 70%;
  padding: 5px;
  border: 1px solid #f3f5f849;
  margin: 0 auto;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
}
.thermometer_humidity {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 10%;
  height: 70%;
  padding: 5px;
  border: 1px solid #f3f5f831;
  margin: 0 auto;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.24);
}
.card .thermometer_humidity::after {
  content: "رطوبت";
  position: absolute;
  font-size: 19px;
  top: 100%;
  direction: ltr;
  color: #000000;
}
.background {
  width: 40%;
  border-radius: 50px;
  margin-bottom: 10px;
  background: linear-gradient(to top, #6bd7fa, red);
  transition: 1s;
}

.background_humidity {
  width: 40%;
  border-radius: 50px;
  margin-bottom: 10px;
  background: linear-gradient(to top, #ffa44e, rgb(255, 72, 0));
  transition: 1s;
  /* box-shadow: -7px -13px 13px 3px #f2f5f8, 10px 10px 16px 2px #bdc7d6; */
}

.background_humidity span {
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 19px;
  color: #000000;
  /* text-shadow: -3px -3px 5px #ffffff, 3px 3px 5px #60738d; */
  transform: translateX(-50%);
}
.card .thermometer::before {
  content: "-100";
  position: absolute;
  font-size: 22px;
  top: 100%;
  direction: ltr;
  color: #000000;
}
.card .thermometer::after {
  content: "57";
  position: absolute;
  font-size: 22px;
  bottom: 100%;
  direction: ltr;
  color: #000000;
}

/******** calendar *********/
.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-cal {
  text-align: center;
}
.week {
  display: flex;
  flex-direction: column;
  width: 115%;
  height: 100%;
}
.weekdays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
}
.weekdays div {
  background: linear-gradient(to bottom right, #7df8a8, #29895f);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: white;
  box-shadow: 0 6px 10px #00000014;
}

.days {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
}
.days > .day {
  width: 90%;
  height: 3rem;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.521),
    rgba(255, 255, 255, 0.13)
  );
  border-radius: 50%;
  direction: rtl;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 120%;
}
.day > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  display: none;
}

.holiday {
  color: red !important;
}
.spacer {
  opacity: 0.4;
}

.date {
  text-align: center;
  font-size: 120%;
}

.today {
  background-color: yellow;
  width: 100% !important;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.miladi,
.qamari {
  display: none !important;
}

/* container */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.monasebat {
  background: #ffffff66;
  backdrop-filter: blur(7px);
  border-radius: 20px;
  padding: 10px;
  font-size: 115%;
  box-shadow: 0 0 47px #00000040;
}

.monasebat ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.rightSide {
  width: 45%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.oghat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  position: relative;
  padding: 10px;
  width: 90%;
  height: 7rem;
  border-radius: 20px;
  background: #f5f5f52d;
  backdrop-filter: blur(7px);
}
.salTahvil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 90%;
  height: 7rem;
  border-radius: 20px;
  background: #f5f5f52d;
  direction: rtl;
  backdrop-filter: blur(7px);
  font-family: "maneli" !important;
  font-size: 90%;
}
.taPaianeSal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 90%;
  height: 7rem;
  border-radius: 20px;
  background: #f5f5f52d;
  direction: rtl;
  backdrop-filter: blur(7px);
}
.taPaianeSal--first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.taPaianeSal--seconde {
  width: 95%;
  height: 2rem;
  background-color: rgba(240, 232, 232, 0.247);
  border-radius: 20px;
  box-shadow: inset 0 0 20px rgba(32, 65, 87, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
.taPaianeSal--seconde div {
  height: 100%;
  background: linear-gradient(to left, #7df8a8, #2bc0a7);
}
.salTahvil img {
  position: absolute;
  bottom: 105%;
  width: 1rem;
  visibility: hidden;
  transition: 0.3s;
  transform: rotate(66deg);
}
.salTahvil:hover img {
  visibility: visible;
  width: 7rem;
  transform: rotate(0deg);
}

.oghat h2 {
  position: absolute;
  bottom: 110%;
}

.box {
  width: calc(90% / 6);
  height: 90%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 120%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.288);
  border-radius: 10px;
  border: 1px solid #2ce9b0ab;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  .monasebat {
    display: none;
    margin: 0;
  }
  .rightSide {
    width: 100% !important;
    justify-content: space-around;
    height: 80% !important;
  }
  .oghat {
    height: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box {
    width: 40%;
    height: 25%;
    font-size: 70%;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.navBar {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 5rem;
  border-radius: 50px;
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  background: #f5f5f52d;
  backdrop-filter: blur(7px);
  box-shadow: 0px 10px 10px rgba(85, 88, 109, 0.288);
  z-index: 1111;
}
.navBar button {
  width: 18%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  overflow: hidden;
}
.navBar button i {
  font-size: 40px;
  color: #ffffff;
}

.navBar button:nth-child(1) i {
  text-shadow: 0 5px 10px rgb(57, 109, 57);
}

.navBar button:nth-child(1) {
  background-image: linear-gradient(
    to top,
    rgb(114, 190, 114),
    rgb(145, 245, 145)
  );
}

.navBar button:nth-child(2) i {
  text-shadow: 0 7px 10px rgb(94, 23, 100);
}

.navBar button:nth-child(2) {
  background-image: linear-gradient(
    to top,
    rgb(179, 69, 189),
    rgb(236, 144, 248)
  );
}

.navBar button:nth-child(3) i {
  text-shadow: 0 7px 10px rgb(6, 7, 73);
}

.navBar button:nth-child(3) {
  background-image: linear-gradient(
    to top,
    rgb(31, 33, 161),
    rgb(104, 101, 255)
  );
}
.navBar button a i {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 0 7px 10px rgb(82, 7, 7);
}
.navBar button a {
  background-image: linear-gradient(
    to top,
    rgb(211, 23, 23),
    rgb(221, 108, 108)
  );
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .navBar {
    display: flex;
  }
}
.details-cal {
  font-size: 25px;
}
